@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mea+Culpa&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
* body {
  background-color: rgba(225, 225, 225, 0.5);
}

#layout {
  width: 45%;
  margin: auto;
  position: relative;
  top: 15vh;
}
#layout #header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#layout #header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
#layout #header #settings {
  align-self: center;
}
#layout #header #settings button {
  background: transparent;
  border: none;
  height: 50%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
#layout #addtask {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#layout #addtask #inputs {
  display: flex;
}
#layout #addtask #inputs input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: 250px;
  margin-right: 22px;
  caret-color: black;
  padding: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}
#layout #addtask #inputs input:focus {
  outline: none;
}
#layout #addtask button {
  background: transparent;
  border: none;
  height: 50%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 35px;
  border-radius: 7.5px !important;
}
#layout #tasks #todo {
  border-bottom: 1px solid black;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#layout #tasks #todo:hover {
  box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 0.5);
  transform: translateY(-2.5px);
  border-radius: 5px;
  cursor: pointer;
}
#layout #tasks #todo #text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
#layout #tasks #todo #text p {
  font-family: "Lobster Two", sans-serif;
}
#layout #tasks #todo #status {
  display: flex;
  width: 125px;
  justify-content: space-around;
  align-items: center;
}
#layout #tasks #todo #status button {
  background: transparent;
  border: none;
  height: 50%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}
#layout #tasks #todo #status button:last-of-type() i:hover {
  color: black;
}

#Auth {
  margin: auto;
  width: 60%;
  height: 50vh;
  position: relative;
  top: 25vh;
}
#Auth #selection {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  left: 120px;
  height: 105%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#Auth #selection button {
  position: relative;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: medium;
  padding: 5px;
}
#Auth #selection button:last-of-type {
  width: 75px;
  position: relative;
  right: 12px;
}
#Auth #loginform, #Auth #signupform {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 50%;
  padding: 10px;
  margin: auto;
  display: block;
}
#Auth #loginform h2, #Auth #signupform h2 {
  position: relative;
  left: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
#Auth #loginform p, #Auth #signupform p {
  text-align: center;
  font-family: "Lobster Two", sans-serif;
}
#Auth #loginform form, #Auth #signupform form {
  position: relative;
  top: 20px;
  padding: 5px;
}
#Auth #loginform form label, #Auth #signupform form label {
  position: relative;
  left: 75px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
#Auth #loginform form input, #Auth #signupform form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  margin-top: 12.5px;
  width: 215px;
  position: relative;
  left: 100px;
  caret-color: black;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
#Auth #loginform form input:focus, #Auth #signupform form input:focus {
  outline: none;
}
#Auth #loginform form button, #Auth #signupform form button {
  display: block;
  margin: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: medium;
}
#Auth #loginform #liner, #Auth #signupform #liner {
  position: absolute;
  left: 30%;
  top: 27.5%;
  width: 40%;
  height: 1px;
  background-color: rgba(200, 200, 200, 0.5);
}
#Auth #loginform input {
  margin-bottom: 60px !important;
}
#Auth #error {
  width: 100%;
}
#Auth #error p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-align: center;
}

#Update,
#User {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 32.5%;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 22.5vh;
  height: 400px;
}
#Update #navigate,
#User #navigate {
  display: flex;
}
#Update #navigate button,
#User #navigate button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: 10px;
}
#Update #navigate h1,
#User #navigate h1 {
  position: relative;
  left: 30%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
#Update #form,
#User #form {
  margin: auto;
  padding: 5px;
  width: 75%;
  position: relative;
  top: 30px;
}
#Update #form label,
#User #form label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
#Update #form input,
#User #form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin: 20px 0px 50px 20px;
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  width: 90%;
  caret-color: black;
}
#Update #form input:focus,
#User #form input:focus {
  outline: none;
}
#Update #form button,
#User #form button {
  display: block;
  margin: auto;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  font-family: "Roboto Condensed", sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  position: relative;
  top: 5px;
}
#Update #form button:hover,
#User #form button:hover {
  background-color: black;
  color: white;
}
#Update #responses #error, #Update #responses #success,
#User #responses #error,
#User #responses #success {
  text-align: center;
  position: relative;
  top: 80px;
}
#Update #responses #error p, #Update #responses #success p,
#User #responses #error p,
#User #responses #success p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-decoration: underline;
}
#Update #responses #success p,
#User #responses #success p {
  color: green;
}
#Update #logout,
#User #logout {
  position: relative;
  top: 100px;
}
#Update #logout button,
#User #logout button {
  display: block;
  margin: auto;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  font-family: "Roboto Condensed", sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#Update #logout button:hover,
#User #logout button:hover {
  border-color: red;
  background: rgb(255, 0, 0);
  color: white;
}

#User {
  height: 515px;
}/*# sourceMappingURL=index.css.map */