@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Engagement&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#Auth {
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(150, 150, 150, 0.5);
  width: 35%;
  height: 32.5vh;
  position: relative;
  top: 30vh;
}
#Auth #selectors {
  position: relative;
  left: 33.5%;
  margin-bottom: 5px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
#Auth #selectors button {
  background: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

#Landing header {
  width: 90%;
  height: 10%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Landing header h1 {
  font-family: "Dancing script", sans-serif;
  font-size: 35px;
}
#Landing header div:first-of-type {
  width: 27.5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#Landing header div:first-of-type a {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-family: Barlow, sans-serif;
  background: transparent;
  color: grey;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
#Landing header div:first-of-type a:hover {
  cursor: pointer;
  color: black;
}
#Landing header div:last-of-type a {
  color: grey;
  transition: color 0.25s ease-in-out;
}
#Landing header div:last-of-type a:hover {
  color: black;
}
#Landing #home {
  display: flex;
  justify-content: space-around;
}
#Landing #home #txt {
  position: relative;
  top: 130px;
}
#Landing #home #txt h1 {
  font-family: "Barlow", sans-serif;
  font-size: 3.5em;
  font-weight: lighter;
}
#Landing #home #txt p {
  font-family: "Inter", sans-serif;
  line-height: 30px;
}
#Landing #home #txt button {
  position: relative;
  top: 20px;
  width: 465px;
  padding: 17.5px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  font-size: 17.5px;
  font-family: "Barlow", sans-serif;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
#Landing #home #txt button:hover {
  background-color: black;
  box-shadow: 5px 5px 10px 0px rgba(100, 100, 100, 0.85);
  color: white;
  cursor: pointer;
}
#Landing #home #svg {
  width: 50%;
  height: 50%;
}
#Landing #features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Landing #features div {
  width: 65%;
  display: flex;
}
#Landing #features div #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Landing #features div #text h1 {
  font-family: "Dancing Script", sans-serif;
}
#Landing #features div #text p {
  font-family: "Barlow", sans-serif;
  line-height: 30px;
}
#Landing #features div #svg {
  width: 500px;
  height: 500px;
}
#Landing #features div #divider {
  position: absolute;
  left: 15%;
  width: 70%;
  height: 1px;
  background-color: black;
}
#Landing #features div:nth-of-type(2) {
  flex-direction: row-reverse;
  width: 100%;
}
#Landing #features div:nth-of-type(2) #text {
  position: relative !important;
  left: 200px !important;
}
#Landing #contact {
  box-shadow: 5px 5px 5px 0px rgba(100, 100, 100, 0.85);
  border-radius: 20px;
  margin: auto;
  width: 75%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
#Landing #contact h2 {
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
}
#Landing #contact #divider {
  position: absolute;
  bottom: 60px;
  height: 200px;
  width: 1px;
  background-color: black;
}
#Landing #contact #form form {
  line-height: 50px;
  width: 300px;
  padding: 5px;
  position: relative;
  top: 10%;
}
#Landing #contact #form form label {
  font-family: "Barlow", sans-serif;
}
#Landing #contact #form form textarea {
  border-radius: 5px;
}
#Landing #contact #form form input {
  border: none;
  border-bottom: 1px solid black;
}
#Landing #contact #form form button {
  position: relative;
  top: 20px;
  width: 200px;
  padding: 7.5px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  font-size: 17.5px;
  font-family: "Barlow", sans-serif;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
#Landing #contact #form form button:hover {
  background-color: black;
  box-shadow: 5px 5px 10px 0px rgba(100, 100, 100, 0.85);
  color: white;
  cursor: pointer;
}
#Landing #contact #image {
  position: relative;
  right: 250px;
  top: 50px;
}
#Landing #contact #image img {
  width: 250px;
  height: 250px;
}

#Home {
  padding: 20px;
}
#Home h2 {
  font-family: "Barlow", sans-serif;
}
#Home #total {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
#Home #total h3 {
  font-family: Barlow, sans-serif;
}
#Home #total p {
  font-family: "Engagement", sans-serif;
}
#Home #summary {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
  justify-content: space-around;
}
#Home #summary div {
  border: 1px solid black;
  width: 30%;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}
#Home #summary div h3 {
  position: relative;
  left: 30px;
}
#Home #summary div p {
  position: relative;
  left: 60px;
  font-size: 1.25em;
}
#Home #table {
  padding: 20px;
  position: relative;
  top: 10vh;
}
#Home #table h2 {
  font-family: "Dancing Script", sans-serif;
}
#Home #table table {
  margin: auto;
}
#Home #Add {
  position: absolute;
  border: 1px solid black;
  z-index: 999;
  width: 30%;
  height: 20vh;
  top: 30%;
  left: 32.5%;
  padding: 20px;
}/*# sourceMappingURL=index.css.map */