<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9e14e23008.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      header {
        width: 70vw;
        margin: auto;
        border-bottom: 1px solid black;
        position: relative;
      }
      header h1 {
        font-family: "Dancing Script", sans-serif;
        text-align: center;
      }
      header button {
        position: absolute;
        bottom: 35%;
        font-size: 20px;
        border: none;
        background: transparent;
      }
      #articleForm {
        width: 50vw;
        margin: 10px auto;
        text-align: center;
      }
      #articleForm label {
        position: absolute;
        left: 30%;
        font-family: "Roboto Flex", sans-serif;
      }
      #articleForm input {
        position: absolute;
        right: 20%;
        border: none;
        background: transparent;
        border-bottom: 1px solid black;
      }
      h2 {
        font-family: "Cookie", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <button onclick="history.back()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h1>New article</h1>
    </header>
    <div id="articleForm">
      <form id="actualForm">
        <label>Blog Title</label>
        <input type="text" placeholder="Something here" />
        <br />
        <label>Image Placeholder</label>
        <input type="file" accept="png,jpeg,jpg" />
        <br />
        <h2>Articles</h2>
        <div id="articles">
          <div id="article">
            <label>Article Title</label>
            <input type="text" />
            <br />
            <label>Article Content</label>
            <textarea></textarea>
          </div>
          <button type="button">Add article</button>
        </div>
        <button type="submit">Complete article</button>
      </form>
    </div>
  </body>
</html>
